@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Forum&display=swap&subset=cyrillic");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  background-color: transparent;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes updown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes updown2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes updown2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

body {
  color: white;
  font-family: Forum;
  letter-spacing: 0.15em;
  background-color: #3B181E;
}

*::-moz-selection {
  background-color: #ffdfdf;
  color: #250505;
}

*::selection {
  background-color: #ffdfdf;
  color: #250505;
}

a {
  color: white;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 30px;
  line-height: 170%;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 170%;
}

.button {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 30px;
  min-width: 190px;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.button:hover {
  color: black;
  background-color: white;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

.button-mid-transparent {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
}

.button-non-transparent {
  background-color: black;
  border: 1px solid transparent;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social .social__item {
  border-radius: 50%;
  padding: 8px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.social .social__item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.begin-page {
  padding: 90px 80px 0 80px;
  min-height: 100vh;
}

.page1 {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page1__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page1__menu {
  font-size: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page1__menu:hover {
  cursor: pointer;
}

.page1__menu img {
  margin-right: 10px;
}

.page1__heading {
  text-align: center;
}

.page1__instruments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 180px;
  height: 30vh;
  max-height: 300px;
}

.page1__social .social__item:hover {
  background-color: #3B181E;
}

.page1__watch-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.page1__mouse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page1__mouse img {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-animation: updown 2s ease infinite;
          animation: updown 2s ease infinite;
  border-radius: 17px;
}

.page1__mouse img:hover {
  background-color: #7a7a7a;
}

.page1__watch-catalog {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page1__watch-catalog span {
  margin-bottom: 20px;
}

.page1__watch-catalog .watch-catalog__arrow {
  -webkit-animation: updown2 1s ease infinite;
          animation: updown2 1s ease infinite;
}

.page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 170px 10vw;
  overflow: hidden;
}

.page2__header {
  position: relative;
  margin-bottom: 100px;
}

.page2__header::after {
  content: "";
  display: block;
  width: 85px;
  height: 2px;
  background-color: white;
  margin-top: 25px;
  margin-left: 70px;
}

.page2__header::before {
  position: absolute;
  width: 100vw;
  left: -37vw;
  bottom: -20vh;
  content: "Каталог услуг";
  text-transform: uppercase;
  font-size: 13vw;
  color: rgba(255, 255, 255, 0.05);
}

.page3 {
  margin-bottom: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page3__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1440px;
}

.page3__text-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
  height: 380px;
  line-height: 170%;
}

.page3__line {
  width: 85px;
  height: 2px;
  background-color: white;
}

.page3__img {
  width: 50%;
  max-width: 690px;
  min-width: 320px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.4s;
  -o-transition: visibility 0s, opacity 0.4s;
  transition: visibility 0s, opacity 0.4s;
}

.modal-bg.active {
  visibility: visible;
  opacity: 1;
}

.modal-bg .modal {
  background-color: #3B181E;
  width: 60%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  position: relative;
}

.modal-bg .modal .img {
  width: 50%;
  height: 100%;
  background-image: url("../img/call-img.png");
  background-position: center;
  background-size: cover;
}

.modal-bg .modal .holder {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5%;
}

.modal-bg .modal .holder h2 {
  font-size: 20px;
  text-align: center;
}

.modal-bg .modal .holder input {
  padding: 18px 30px;
  font-size: 14px;
}

.modal-bg .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #3B181E;
  left: -100vw;
  -webkit-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}

.sidebar.active {
  left: 0px;
}

.sidebar ul li {
  list-style: none;
  color: white;
  font-size: 20px;
  padding: 20px 24px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 20;
}

.sidebar__social {
  position: absolute;
  left: 50px;
  bottom: 40px;
}

.sidebar .social__item:hover {
  background-color: #883636;
}

.sidebar__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar .close-btn {
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.sidebar .close-btn:hover {
  background-color: rgba(189, 63, 63, 0.5);
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.sidebar__brick {
  width: 30px;
}

.sidebar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 0.1em;
  margin-top: 20vh;
}

.sidebar .nav__item {
  text-align: center;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}

.sidebar .nav__item:hover {
  color: white;
  font-size: 45px;
}

.page2__slider {
  width: 80vw;
  max-width: 1400px;
}

.page__slider {
  width: 40vw;
  max-width: 540px;
}

.slider__item {
  min-height: 450px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.slider__linkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% + 60px + 20px);
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s;
}

.slider__linkbox:hover {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider__number {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 20px;
}

.slider__number::after {
  content: "";
  display: block;
  margin-left: 30px;
  margin-top: -5px;
  width: 70px;
  height: 2px;
  background-color: white;
}

.slider__link {
  margin-bottom: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #813636;
  padding: 30px 0;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  width: 80%;
}

.footer__link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.footer__link:hover {
  color: rgba(255, 255, 255, 0.931);
}

.footer__social.social {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__social.social .social__item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: none;
}

.page__header {
  width: 90vw;
  padding: 30px 0;
}

.page__img {
  background-image: url("../img/frame1/main-img.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;
}

.page__describing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 50px;
  width: 50vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page .describing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 570px;
}

.page__service-naming {
  margin-bottom: 50px;
  font-size: 50px;
}

.page__text {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 150%;
}

.page__button {
  margin-bottom: 100px;
  max-width: 100px;
}

.page__footer {
  display: none;
}

@media (max-width: 1270px) {
  .page__header {
    padding: 30px 0;
  }
  .page__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    width: 100%;
    height: 60vh;
    margin-bottom: 50px;
  }
  .page__describing {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90vw;
    margin-bottom: 100px;
  }
  .page .describing__container {
    width: 100%;
    max-width: unset;
  }
  .page__slider {
    width: 100%;
    max-width: unset;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .page .slider__img {
    width: 20vw;
  }
  .page__button {
    margin-bottom: 30px;
  }
  .page__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-color: #ffffff70;
  }
}

@media (max-width: 620px) {
  .page__service-naming {
    font-size: 30px;
  }
  .page__describing {
    padding: 0;
  }
  .page .slider__img {
    width: unset;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 70px;
  }
  .begin-page {
    padding: 40px 50px 0 50px;
  }
  .page1 {
    letter-spacing: 0.09em;
  }
  .page1__menu img {
    width: 35px;
  }
  .page1__menu span {
    display: none;
  }
  .page1__instruments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 500px;
    height: 35vh;
  }
  .page1__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 50px;
  }
  .page1__social .social__item {
    background-color: #3B181E;
    margin-right: 20px;
  }
  .page1__social .social__item:last-child {
    margin-right: 0;
  }
  .page1__watch-next {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 70%;
  }
  .page1__mouse {
    display: none;
  }
  .page1__watch-catalog {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .page1__watch-catalog span {
    display: none;
  }
  .page1__watch-catalog .watch-catalog__arrow {
    height: 30px;
    margin-bottom: 20px;
  }
  .page2__header::before {
    display: none;
  }
  .page3__holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .page3__text-holder {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .page3__img {
    width: 100%;
  }
}

@media (max-width: 620px) {
  h1 {
    font-size: 40px;
  }
  .begin-page {
    padding: 15px 30px 0 30px;
  }
}

@media (max-width: 768px) {
  .slider__linkbox {
    height: 100%;
  }
  .slider__linkbox:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .slider__linkbox .button {
    display: none;
  }
  .slider__link {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .sidebar__social {
    display: none;
  }
  .sidebar__nav {
    font-size: 25px;
  }
  .sidebar .nav__item:hover {
    font-size: 30px;
  }
}

@media (max-width: 1280px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__link {
    margin-bottom: 25px;
    font-size: 16px;
  }
  .footer__link:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  .footer__links {
    width: 100%;
  }
  .footer__link {
    font-size: 16px;
  }
}

@media (max-width: 820px) {
  .modal-bg .modal {
    width: 90%;
    height: 60%;
    max-width: 370px;
  }
  .modal-bg .modal .img {
    display: none;
  }
  .modal-bg .modal .holder {
    width: 100%;
    margin-top: 30px;
  }
}
