//for main
$font-stack: Forum;
$font-size-button: 12px;
$transition-time: .4s;
$main-bgc: #3B181E;
$instruments-hover-color: #3B181E;

//fonts
$h1-desktop: 120px;
$h1-tablet: 70px;
$h1-mobile: 40px;
$h2-desktop: 30px;
$h2-mobile: 20px;
$h3-desktop: 16px;
$h3-mobile: 16px;

//for sidebar
$font-size-sidebar: 35px;
$font-size-sidebar-hover: 45px;
$mobile-font-size-sidebar: 25px;
$mobile-font-size-sidebar-hover: 30px;
$nav-link: rgba(255, 255, 255, 0.5);
$nav-link-hover: white;
$transition-time: .4s;
$sidebar-instruments-hover-color: rgb(136, 54, 54);

//for slider
$slider-item-width: 330px;
$slider-item-height: 450px;
$number-font-size: 20px;
$linkbox-padding: 20px;

//for page3
$text-holder-width: 380px;
$text-holder-height: 380px;

// for footer
$footer-link-font-size: 16px;
$tablet-footer-link-font-size: 16px;
$mobile-footer-link-font-size: 16px;
$footer-link-color: rgba(255, 255, 255, 0.5);
$footer-link-color-hover: rgba(255, 255, 255, 0.931);

//for frame
$header-padding: 30px;
$frame-img-width: 50vw;
$frame-describing-width: 50vw;
$describing-container-max-width: 570px;
$mobile-frame-describing-width: 90vw;
$mobile-footer-border-color: #ffffff70;
//frame fonts
$frame-h1: 50px;
$mobile-frame-h1: 30px;
$frame-p: 18px;
$frame-p-line-height: 150%;

//modal
$input-font-size: 14px;