.footer{
    background-color: $main-bg-color;
    border-top: 2px solid $border-color;
    @include flex (center, space-around, column);
    min-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    &__image{
        height: 40px;
    }
    &__form{
        @include flex (center, space-between, row);
    }
    &__input{
        font-family: 'Nunito', sans-serif;
        padding: 1rem;
        margin-right: 1rem;
        border-radius: 10px;
        transition: .4s;
        &:last-child:hover{
            cursor: pointer;
            box-shadow: 5px 5px 8px 0px rgba(50, 50, 50, 0.2);
        }
        &:focus{
            box-shadow: 5px 5px 8px 0px rgba(50, 50, 50, 0.2);

        }
    }
}